body {
    font-family: Arial, Helvetica, sans-serif;
}

#marco {
    max-width: 600px;
    width: 600px;
    height: 450px;
    background-image: url(./ac.jpg);
}

.modA,
.modB,
.modC,
.modD,
.modE,
.modF,
.modG,
.modH,
.modI,
.modJ,
.modK,
.modL {
    text-align: center;
    position: absolute;
}

.modC,
.modE,
.modF,
.modG,
.modH {
    background-repeat: no-repeat;
    background-size: contain;
}

.modF,
.modG,
.modH {
    background-size: cover;
    border-color: rgb(204, 204, 204);
    border-style: solid;
}

.modD,
.modF {
    border: 20px solid rgb(204, 204, 204);
}

.modA,
.modI,
.modJ,
.modK,
.modL {
    width: 100px;
    height: 100px;
}

.modA {
    background-image: url(./back_mantel.jpg);
    margin-left: 10px;
    margin-top: 10px;
}

.modB {
    background-image: url(./back_mantel.jpg);
    margin-left: 170px;
    margin-top: 30px;
    width: 80px;
    height: 70px;
}

.modC {
    background-image: url(./back_mantel.jpg);
    margin-left: 300px;
    margin-top: 10px;
    width: 100px;
    height: 100px;
}

.modD {
    background-image: url(./back_mantel.jpg);
    margin-left: 450px;
    margin-top: 10px;
    width: 70px;
    height: 70px;

}

.modE {
    background-image: url(./dh.jpg);
    margin-left: 10px;
    margin-top: 150px;
    width: 110px;
    height: 110px;
}

.modF {
    background-image: url(./dh.jpg);
    margin-left: 150px;
    margin-top: 150px;
    width: 80px;
    height: 70px;
}

.modG {
    background-image: url(./dh.jpg);
    margin-left: 300px;
    margin-top: 150px;
    width: 100px;
    height: 50px;
    border-width: 30px 0px;
}

.modH {
    background-image: url(./dh.jpg);
    background-position: 40%;
    margin-left: 450px;
    margin-top: 150px;
    width: 70px;
    height: 110px;
    border-width: 0px 20px;
}

.modI {
    background: linear-gradient(to right, #d2ff52 0%, #566647 100%);
    margin-left: 10px;
    margin-top: 300px;

}

.modJ {
    background: linear-gradient(to bottom, rgba(240, 183, 161, 1) 0%, rgba(148, 51, 161, 1) 80%, rgba(117, 34, 1, 1) 51%, rgba(191, 110, 78, 1) 100%);
    margin-left: 160px;
    margin-top: 300px;

}

.modK {
    background: linear-gradient(to top, rgb(192, 223, 176) 0%, rgb(69, 128, 13) 100%);
    margin-left: 300px;
    margin-top: 300px;

}

.modL {
    background: linear-gradient(to top, rgba(192, 223, 176, 1) 10%, rgba(69, 128, 1, 0) 100%);
    margin-left: 450px;
    margin-top: 300px;

}