body {
    max-width: 900px;
    margin: 0 auto;
    overflow: auto;
}

#pinguino {
    background-color: aquamarine;
}

#pinguino img {
    margin: 50px;
    max-width: 800px;
}

table {
    position: absolute;
    top: 450px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid rgb(66, 66, 66);
    text-align: left;
    width: 70%;
}

#encabeza {
    text-align: center;
    background-color: aliceblue;
}

#celda1_2 {
    text-align: center;
    background-color: yellow;
}